<% provide(:title, 'search Results') %>
<h1>Search Results</h1>

<% if @questions.any? %>
	<ul>
		<%= render @questions %>
	</ul>
	<%= will_paginate %>
<% else %>
	<p>Nothing found, please try a different search</p>
<% end %>	